{{#if user}}
  <section class="main">
    <div class="row m-0 p-0">
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1659132577503-b4ab8c142dce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Beautiful abstract wallpaper in 6K resolution</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Editorial, Textures & Patterns, 3D Renders</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1620121684840-edffcfc4b878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Editorial, Wallpapers, Textures & Patterns</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1632059368252-be6d65abc4e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Editorial, 3D Renders, Arts & Culture</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 p-0 mt-3">
      <div class="col-sm-6 col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1659132577503-b4ab8c142dce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Beautiful abstract wallpaper in 6K resolution</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Editorial, Textures & Patterns, 3D Renders</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1620121684840-edffcfc4b878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Editorial, Wallpapers, Textures & Patterns</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-mb-6">
          <div class="card" style="width: 18rem;">
            <img
              src="https://images.unsplash.com/photo-1632059368252-be6d65abc4e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
              <p class="card-text">Editorial, 3D Renders, Arts & Culture</p>
              <a href="#" class="btn btn-primary">Click To Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{else}}
  <div class="contaner">
    <img src="/images/image2.jpg" alt="" style="width:100%;" />
    <div class="centered">
      <p>Welcome to <br />Photo World</p>
    </div>
  </div>
{{/if}}